<!DOCTYPE html>
<html>

<head>
    <title>Forum H4kh4 Music</title>
    <link rel="shortcut icon" href="http://<%=session.adr_ip%>:8080/img/animated_favicon1.gif">
    <link rel="icon" type="image/gif" href="http://<%=session.adr_ip%>:8080/img/animated_favicon1.gif">
</head>
<body>
    
    <%- include('header') %>


<div class="container-fluid">
    <div class="row">


        <div class="col-xl-7">
              <%if(!session.connection){%>
            


                <div class="col">
                     <div class="row"></div>
                    <div class="alert alert-success" role="alert"><span><strong>Vous devez être connecté pour consulter ou poster un article.</strong></span></div>
                   
                        <div class="col">
    <%- include('carouselle') %>
                        </div>
                    </div>
                </div>
    <%}else{%>

    <div class="container">



 <!--Boucle d'affichage -->
 <div class="row">

    <!---->

    <!---->
    
    <% for(var i = (topics.length-1) ; i >= 0 ; i--) {
        topic = topics[i];  
        var dateTopic = topic.date;
    %>

        <div class="card mr-3 mb-3" style="width:45%; float:left">
            <div class="card-body border rounded shadow-sm">

                <div class="alert alert-info text-lowercase border rounded shadow-sm" role="alert">
                  <a href="/forum/papers/<%=topic.title %>"><strong><%=topic.title %></strong></a>  
                    
                <span></span></div>
                <p class="ml-1">écrit par :&nbsp; <%= topic.author%></p>
                <p class="ml-1">sujet ouvert le &nbsp;<%=dateTopic.getDate()%>/<%=dateTopic.getMonth()+1%>/<%=dateTopic.getFullYear()%></p>
            </div>


     
        </div>
           <%}%>


    </div>

<div class="row">
    <div class="col-xl-8">
     <%- include('add') %>
     </div>
</div>
 </div>
   
   
    <hr>


   

<!--=============================================================-->
    </div><!--EO container 1 -->
      
       
           
       
       <%}%>

      
<!--========================================== COLONNE DE DROITE =========================-->
        <div class="col-xl-4">

             <% if(statistics < 1){ %>
            <%- include('noStatistic') %>
            <% } else { %>
           
            <%- include('statistic') %>
           
            <% } %>


        </div>
<!--=============================================================-->

        
  </div>

    </div>



         <%- include('footer') %>

    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/bs-animation.js"></script>
</body>

</html>