<!DOCTYPE html>
<html>
    <head>
      <title>
            <%= session.topic%>
        </title>
        <link rel="shortcut icon" href="http://<%=session.adr_ip%>:8080/img/animated_favicon1.gif">
        <link rel="icon" type="image/gif" href="http://<%=session.adr_ip%>:8080/img/animated_favicon1.gif">
    </head>
    <body>

    <%- include('header') %>
    
    <% 	var datePaper;

        for(var i = (papers.length-1) ; i >= 0 ; i--) {
        paper = papers[i];
        comment = paper.comment; 
        datePaper = paper.date;
    %>

<!-- -->
<div class="container-fluid">
<div class="row">
    <div class="col">
         <div class="container">
        <div class="card border rounded">
            <div class="card-body">

                  <div class="alert alert-secondary" role="alert">
             <h4>Contenue du message : </h4> <i class="fas fa-arrow-circle-down"></i>

                  </div>
               
                <div class="alert alert-secondary" role="alert">
                    <h4 class="card-title"><%= session.topic%></h4>
                    <h6 class="text-muted card-subtitle mb-2"> <%=paper.title %></h6>
                    <p> <%=paper.content %></p>
              
                <h6 class="text-muted card-subtitle mb-2">Article écrit par : <%= paper.author %>&nbsp;</h6></hr>
                <h6 class="text-muted card-subtitle mb-2">le : <%=datePaper.getDate()%>/<%=datePaper.getMonth()+1%>/<%=datePaper.getFullYear()%></h6>
           
                <h6 class="text-muted card-subtitle mb-2">a : <%=datePaper.getHours()%> heures <%=datePaper.getMinutes()%></h6>

                  </div>

                <hr style="background-color: #f1eded;">

            <div class="alert alert-dismissible alert-primary" role="alert">
             <h4>Commentaires :</h4>
             </div>

    <div class="alert alert-dismissible alert-primary">
                  
<!--Affichage des commentaries-->
        <%comment.forEach(function(comment) {
                            var dateCom = comment.date;
        %>
        <div class="alert alert-dismissible alert-primary">
            <h4><%=comment.content %></h4>        
                <div class="text-muted card-subtitle mb-2">
                    <h6 class="text-muted card-subtitle mb-2">Article écrit par :  <%=comment.author %> </h6>
                    <h6 class="text-muted card-subtitle mb-2">le : <%=dateCom.getDate()%>/<%=dateCom.getMonth()+1%>/<%=dateCom.getFullYear()%></h6>
                    <h6 class="text-muted card-subtitle mb-2">à :    <%=dateCom.getHours()%> h <%=dateCom.getMinutes()%></h6>
                </div>   
        </div>
        <%});%>
<!--=============================-->
    </div>

<!--Ajouter un commentaire -->

    <%if(!session.connection){%>
                            <h4 class="new">Connectez vous pour ajouter un commentaire</h4>

     <%} else{%>

    <div class="col">
        <p style="font-size: 17px;">Ajouter un commentaire :</p>
    </div>

    <form class="new_comment" action="/forum/comment/<%=paper.title%>" method="post">  
        <div class="row">
            <div class="col"><textarea name="content" required
            autocomplete="off"style="width: 533px;height: 144px;"></textarea></div>
        </div>
    <div class="row">

        <div class="col" style="margin: 0px;">

        
        <button class=" submit_comment btn btn-primary d-xl-flex" type="submit" method="post" action="/forum/comment/<%=paper.title%>"
        value="envoyer"
        style="padding: 8px;margin-top: 17px;margin-right: 470px;">Envoyer</button>
    </form>  

        </div>
    </div>
    </div><!--EO card Body-->
    </div><!--EO card Border-->
       <% } %>
</div><!--EO container -->


    </div>
    <div class="col">
        <%- include('statistic') %>

    </div>
</div>
</div>







<!--=============================-->
<%}%>
                

                <%- include('footer') %>

              
    </body>

</html>